
                
       nav {
             width: 150px;
             height: 150px;
             background-color: black;
             position: fixed;
             margin: 50px;
             padding:0px;
                
       }
       nav li {
            display: inline;
         }
       }
       aside {
             float: left;
             width: 150px;
             height: 150px;
             background-color: pink;
             position: absolute;
             top: 170px;
             right: 290px;
             text-align:center;
                
       }
         section {
             float: right;
             width: 20%;
             height: 500px;
             background-color: pink;
             color: white;
             text-align:center;
                  
         }
         body {
             background-color: lightblue;
             width: 450px;
             height: 350px;
         }
         nav li {
            display: inline;
         }
         
         }
         footer {
             clear: both;
             background-color: yellow;
         }
         

    
