header {
  position: fixed;
  background-color: #b0c4de;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 50px;
  text-align:left;
  font-size: italic;
  font-size: 28pt;
  color:red;
}
nav {
  margin-top: 20px;
  margin-bottom: 0px;
  background-color: #b0c4de;
  text-align:center;
}
nav ul {
  margin-bottom:0;
  
}
nav li {
  display: inline;

}
section {
  float: left;
  width: 40%;
  height: 200px;
  background-color: #b0c4de;
}
aside {
  float: left;
  width: 50%;
  height: 500px;
  background-color: #b0c4de;
  color: black;
}
footer {
  clear: both;
  background-color: yellow;
  text-align: center;
}
body {
  background-color: #b0c4de;
   margin: 10px;
}
       
