header {
  position: fixed;
  background-color: blue navy;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 20px;
  text-align:left;
  font-style: italic;
  font-size: 20pt;
  color:red;
  width: 20%;
  margin:0px,20px;
  
}
nav {
  margin-top: 20px;
  margin-bottom: 0px;
  background-color:blue navy ;
  text-align:center;
  width: 50%;
  
  
}
nav ul {
  margin-bottom:0;
  
}
nav li {
  display: inline;

}
section {
  float: left;
  width: 20%px;
  height: 200px;
  background-color: navy blue;
}
aside {
  width: 80%;
  height: 600px;
  background-color: navy blue;
  color: black;
  float: right;
  z-index:+10;

  

}
p.left {
  text-align:left;
  font: italic;
}
footer {
  clear:both;
  background-color: white;
  text-align: center;
}
body {
  background-color: navy blue;
   margin: 10px;
   background-image: url(http://www.psdgraphics.com/file/dark-blue-background.jpg);
   
}
       
