article h1 {
  background-color: red;
  color:white;
}
article h2 {
  background-color:orange; 
  color:brown;
}
article h3 {
  background-color:green;
  color: black;
}
article h4 {
  background-color:black;
  color:cyan;
  text-decoration:line-through;
  
}
